<div class="sharedImage" [ngClass]="{ 'sharedImageLiked': liked }">
    <h2>{{ post.titre | uppercase}}</h2>
    <p>{{ post.description }}</p>
    <img [src]="post.image" [alt]="post.titre" class="image">
    @if (post.location) {
        <p class="location">- {{ post.location }} -</p>
    } @else {
        <p class="emptyLocation">Localisation non spécifiée</p>
    }
    <p class="date">Mis en ligne le {{ post.date | date: 'd MMMM YYYY, HH:mm'}}</p>
    <section class="sectionLike">
        <p>
            <button (click)="onLike()" class="boutonLike" #boutonLike>{{ likeButtonText }}</button>
            <span [ngStyle]="{ color: 'rgb(' + post.likes + ', 0, 0)'}">{{ post.likes }} 👍</span>
        </p>
    </section>
</div>
<a routerLink="/posts" [ngStyle]="{ 'font-family': 'Montserrat'}">BACK</a>
